
<div *ngIf="!servicio.registrado" class="sobre-mi">

    <div class="sobre-mi-cuerpo-1"> 

        <div class="cuerpo-1-imagen">
            <img  src="./assets/usuario.1.png">
        </div>

        <div class="cuerpo-1-texto">
            <div class="texto-sobre-mi"><span >{{ userData.aboutMe }} </span></div> <!-- TEXTO SOBRE EL USUARIO-->
        </div>
    </div>

    <div class="sobre-mi-cuerpo-2">  
        <div class="mi-nombre" > <H1 >{{userData.name}}</H1></div> <!--NOMBRE COMPLETO DE USUARIO -->
         <div class="cuerpo-2-contenido">
             <div class="input-group mb-3"><span class="form-control">Domicilio:&nbsp;{{userData.address}}</span></div> 
             <div class="input-group mb-3"><span class="form-control">Correo Electronico: {{userData.mail}}</span></div>
             <div class="input-group mb-3"><span class="form-control">Numero de Documento: {{userData.documentNumber}}</span></div> 
             <div class="input-group mb-3"><span class="form-control">Telefono: {{userData.phone}}</span></div>
         </div>
    </div>
</div>


<div *ngIf="servicio.registrado">
    <div> 
        <div class="edicion"> 
            
            <h1>SOBRE MI</h1>

            <div class="input-group mb-3">
                <span class="input-group-text">Nombre Completo:</span>
                <input type="text" class="form-control"  [(ngModel)]="userData.name">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Texto Sobre Mi:</span>
                <input type="text" class="form-control"  [(ngModel)]="userData.aboutMe">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Domicilio:</span>
                <input type="text" class="form-control"  [(ngModel)]="userData.address">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Correo Electronico:</span>
                <input type="text" class="form-control"  [(ngModel)]="userData.mail">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Numero De Documento:</span>
                <input type="text" class="form-control"  [(ngModel)]="userData.documentNumber">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Telefono:</span>
                <input type="text" class="form-control"  [(ngModel)]="userData.phone">
            </div>

            <div class="input-group mb-3">
                <button class="btn-primary" (click)="saveChangeUser()">GUARDAR CAMBIOS</button>
                <button class="btn-info" (click)="cancelChangeUser()">CANCELAR</button>
            </div>


        </div>
    </div>
</div> 


