

<div  class="educacion">
    <div *ngFor="let education of educations; let i=index " class="plantilla" >
        <div class="plantilla-imagen">
            <img src="./assets/Education.jpg" alt="">
        </div>
        <div class="plantilla-texto">
            
            <h2 class="p-3 mb-2 bg-success text-white">{{education.institution}}</h2>

            <div class="input-group mb-3"><span class="form-control">Titulo Obtenido:&nbsp;{{education.education}}</span></div>
            
            <div class="input-group mb-3"><span class="form-control">Nivel Academico:&nbsp;{{education.degree}}</span></div>

            <div class="input-group mb-3"><span class="form-control">Tiempo Estudiado:&nbsp;{{education.time}} </span></div>
    
            <div *ngIf="servicio.registrado" class="configuracion">

                    <button class="btn btn-warning" (click)="editEducation(education.id)" >Editar</button> 

                    <button class="btn btn-danger" (click)="deleteEducation(education.id)" >Eliminar</button>

            </div>
        </div> 
    </div>
</div>

<!-- hasta aqui viene la parte visible, esta es la parte editable, hasta aqui viene la parte visible, esta es la parte editable-->



<div *ngIf="servicio.registrado"  >
    
   
    <div style="padding: 1%;" class="plantilla-texto" style="width: 100%;" >
         
        <h2 *ngIf="!educationEditButton" style="padding: 1%;">AGREGAR EDUCACION</h2>

        <h2 *ngIf="educationEditButton" style="padding: 1%;">EDITAR EDUCACION</h2>

        <div  class="input-group mb-3"><span class="input-group-text">Institucion  Educativa:</span><input type="text" class="form-control" [(ngModel)]="educationNew.institution"></div>

        <div  class="input-group mb-3"><span class="input-group-text">Titulo Obtenido:</span><input type="text" class="form-control" [(ngModel)]="educationNew.education" ></div>

        <div  class="input-group mb-3"><span class="input-group-text">Nivel Academico:</span><input type="text" class="form-control" [(ngModel)]="educationNew.degree" ></div>

        <div  class="input-group mb-3"><span class="input-group-text">Tiempo Estudiado:</span><input type="text" class="form-control" [(ngModel)]="educationNew.time"></div>

        <div  class="configuracion">

            <div *ngIf="!educationEditButton" ><button  class="btn btn-success" (click)="addEducation()" >Agregar</button></div>

            <div *ngIf="educationEditButton" ><button  class="btn btn-primary" (click)="saveChangeEducation()" >Guardar Cambios</button></div>

            <div *ngIf="educationEditButton" ><button  class="btn btn-info" (click)="cancelChangeEducation()" >Cancelar</button></div>
            
        </div>
    </div>   


</div>

