<div *ngIf="!servicio.registrado">

    <div class="sesion">

        <div class="p-3 mb-2 bg-primary text-white">PORTAFOLIO WEB</div>
        
        <div class="mb-3">
            <div class="input-group mb-3">
                <span class="input-group-text">CORREO:</span>
                <input type="text" class="form-control" placeholder="Ingrese Correo" [(ngModel)]="inputMail">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">CONTRASEÑA:</span>
                <input type="password" class="form-control" placeholder="Ingrese Contraseña" [(ngModel)]="inputPassword">
            </div>

            <div class="configuracion">
                <button type="button" class="btn btn-primary" (click)="sesionInit()">Iniciar Sesión</button>
                <button type="button" class="btn btn-success" (click)="fastAccess()">Acceso rapido</button>

            </div>
       </div>
   </div>
</div>

<!-- CAMBIO DE CUANDO EL USUARIO INGRESA -->

<div *ngIf="servicio.registrado">
    
    <div class="p-3 mb-2 bg-success text-white"><H1 style="text-align: center;">ADMINISTRADOR {{userAdmin.name}}</H1></div>





</div>
