@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');



* {
  box-sizing: border-box;
}


body {
  font-family: sans-serif;
  margin: 0;


  background-image: url("imagenes/fondo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: grey;
}



.lead{
        
  
        font-family: monospace;
        
        background-color: #3d74da;
      
        border-radius: 5px;
        
        
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        
        width: 100%;
        height: 100%;

        

       
        
      
      }



.lead h1{
          color: #fff;
          font-size: 10vh;
          
          
          
          
          
        }

.lead h2 {
            color: #fff;
            font-size: 7vh;

          }





.buttons_center{
          display: flex;
         
          margin-right: 1%;
          margin-top: 2%;

          width: 100%;
          height: 100%;

          





        }


.foto {   
          border: 0;
          border-radius: 10px;
          padding: 10px 10px;

          
          
          width: 250px;
          height: 250px;

          min-width: 30vh;
          min-height: 30vh;

          
          
        
          
        }
 button {
          font-family: monospace;
          font-size: 4vh;

          background-color: #3d74da; 
          
          border: 0;
          border-radius: 5px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          color: #fff;
         
          cursor: pointer; 

          
        
         



        } 

button.buttons_open{
                      margin: auto;
                      margin-left: 1%;
                      margin-right: 1%;

                      height: 250px;
                      min-height: 40vh;
                    



                    }



button.close{
              margin: auto;
              

              

            }



.sub_foto{
         vertical-align: middle;
           border: 0;
          border-radius: 10px;
          padding: 10px 10px;

          
          
          width: 250px;
          height: 250px;

          min-width: 30vh;
          min-height: 30vh;
}







.modal-container {
                    display: flex; 
                    background-color: rgba(255, 255, 255, 0.3); /* color fondo activado el modal.container */
                    align-items: center;
                    justify-content: center;
                    position: fixed;
                    pointer-events: none;
                    opacity: 0;  
                    top: 0;
                    left: 0;
                    height: 100vh;
                    width: 100vw;
                    transition: opacity 0.3s ease;
                    font-size: 4vh;
                  }

.show {
          pointer-events: auto;
          opacity: 1;

          
        }

.modal {
          background-color: rgb(208, 209, 212); /* fondo color modal.container */
          
         overflow-x: auto;
          

          height: auto;
          width: auto;

          max-width: 90vh;
          max-height: 100%;

          min-width: 20vh;
          


          padding: 30px 50px;
          border-radius: 5px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          text-align: center;
        }

.modal h1 {
             margin: 0;
          }

.modal p {
            opacity: 0.7;
            
            font-size: 5vh;
          }

/* Termina Centro */ 

button.button_browser{

                background-color: rgb(163, 163, 163);
                font-size: 3vh;

                margin: auto; 
               
                
                

                height: 30px;
                min-height: 4vh;
                

}

button.botton_broswer:hover{

  background-color: aqua;
  box-shadow: 1px 2px 5px rgb(26, 26, 26);
}

.browser {

              display: flex;
                    
              margin-right: 1%;
              margin-top: 2%;
              

              width: 100%;
              height: 100%;

              justify-content:space-around;
              
              
              background-color: #3d74da;


} 


input.box_login{
  max-width: 30vh;
  max-height: 10vh;

  
  min-width: 10vh;
  min-height: 5vh;
  
  font-size: 3vh;
  
}

