<div class="center-content">

    <ul class="slider">

                <li id="slide1"><app-center-content-about-me></app-center-content-about-me></li>

                <li id="slide2"><app-center-content-experience></app-center-content-experience></li>

                <li id="slide3"><app-center-content-education></app-center-content-education></li>

                <li id="slide4"><app-center-content-project></app-center-content-project></li>
                
                <li id="slide5"><!--Slide creado para los comentarios--></li>

                <li id="slide6"><!-- slide creado para los li que maneja--></li>
                
                <li id="slide7"><app-center-content-admin></app-center-content-admin></li>            
    </ul>

</div>